<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input
                ngControl="currentPassword"
                #currentPassword="ngForm"
                id="currentPassword"
                type="text"
                class="form-control">
        <div *ngIf="currentPassword.touched && currentPassword.errors">
            <div *ngIf="currentPassword.errors.required" class="alert alert-danger">Password is required</div>
            <div *ngIf="currentPassword.errors.invalidPassword" class="alert alert-danger">Password is rejected by server</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
                ngControl="newPassword"
                #newPassword="ngForm"
                id="newPassword"
                type="text"
                class="form-control">
        <div *ngIf="newPassword.touched && newPassword.errors">
            <div *ngIf="newPassword.errors.required" class="alert alert-danger">New password is required</div>
            <div *ngIf="newPassword.errors.complexPassword" class="alert alert-danger">Password is not complex enough</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
                ngControl="confirmPassword"
                #confirmPassword="ngForm"
                id="confirmPassword"
                type="text"
                class="form-control">
        <div *ngIf="confirmPassword.touched && confirmPassword.errors">
            <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">Confirm Password is required</div>
        </div>
        <div *ngIf="confirmPassword.touched && form.errors">
            <div *ngIf="form.errors.passwordsMatch" class="alert alert-danger">Passwords do not match</div>
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Sign Up</button>
</form>